/* カラーパレット */
:root {
	--primary-color-default: #009688;
	--primary-color-dark: #00796B;
	--primary-color-light: #B2DFDB;
	--text-primary-color: #FFFFFF;
	--accent-color: #FF5252;
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--bg-color: #EFEFEF;
}

/* 共通 */
body {
	background-color: var(--bg-color);
	color: var(--primary-text-color);
}
h1 {
    padding: 0.25rem 0.5rem;
    background: transparent;
    border-left: solid 5px var(--primary-color-light);
    margin: 1rem;
}
h2 {
    background: transparent;
    border-bottom: dotted 3px var(--primary-color-light);
    margin: 0 1rem 1rem 1rem;
}
p {
    margin: 0 1rem;
    text-align: justify;
    text-justify: inter-character;
}
ul {
    margin: 0.5rem 1rem 0.5rem 2rem;
}

/* トップページのヘッダー領域 */
.top-header {
    background-color: var(--primary-color-dark);
}
.top-header p {
    font-size: 2rem;
    text-align: center;
    padding: 0.25rem;
}
.top-header a {
    font-weight: bold;
    text-decoration-line: none;
    color: var(--text-primary-color);
}
.top-header a:hover {
    color: var(--accent-color);
}

/* プロファイルアイコン */
.top-profile-icon {
    text-align: center;
    margin: 20px 0;
}
.top-profile-icon img {
    width: 100px;
    height: 100px;
}

/* トップページのコンテンツ領域 */
.top-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-main-contents {
    max-width: 800px;
}
.top-main-contents h2 {
    font-weight: bold;
}

/* トップページのフッター領域 */
.top-footer {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--primary-color-light);
}
.top-footer small {
    text-align: center;
}
