:root {
	--primary-color-default: #009688;
	--primary-color-dark: #00796B;
	--primary-color-light: #B2DFDB;
	--text-primary-color: #FFFFFF;
	--accent-color: #FF5252;
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--bg-color: #EFEFEF;
}
body {
	background-color: var(--bg-color);
	color: var(--primary-text-color);
}

/* ページヘッダーの設定　*/
.page-header {
	/* 左右割付、上下中央揃えにする。 */
	/* トップページへのリンクとメニューの2つだけ入る想定。 */
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* 文字サイズが変わってもバランスを保つ高さにする。 */
	height: 4rem;
}
.page-header a {
	text-decoration: none;
}
.page-header li {
	list-style: none;
}
.main-nav ul {
	display: flex;
	align-items: center;
    list-style: none;
}
.main-nav li {
	margin-left: 1rem;
}

.wrapper {
	margin: 0 auto;
	padding: 0 4%;
}

.article {
	border: 1px solid var(--secondary-text-color);
	margin: 10px 0;
	padding: 10px;
}
.article h2 {
	font-size: 1.5rem;
	border-bottom: 2px solid var(--primary-color-dark);
}

.article-header {
	margin-bottom: 10px;
}
.article-header-misc {
	display: flex;
}

/* 記事サマリ部の設定 */
.article-summary {
	border: 2px solid var(--primary-color-light);
	margin: 10px 0;
}
.article-summary::before {
	content: "まとめ";
	background-color: var(--primary-color-light);
	font-size: 1.25rem;
}
.article-summary p {
	padding: 0.25rem 0.5rem;
}

/* 記事本文の設定 */
.article-body pre {
	margin: 10px 0;
	padding: 4px;
	border: 1px double var(--secondary-text-color);
	overflow: auto;
}
.article-body p > img {
	max-width: 100%;
}
.article-body ul {
    margin: 0.5rem 0 0.5rem 2rem;
}

/* ページフッターの設定　*/
.page-footer {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--primary-color-light);
}
.page-footer small {
    text-align: center;
}

/* ボタンの装飾 */
.button {
    border: 3px outset var(--primary-color-default);
    background: var(--primary-color-light);
}

/* ログインページの装飾 */
.login-form label {
    display: block;
    max-width: 200px;
}

.login-form input {
    background: white;
    border: solid 1px black;
    margin: 4px;
    padding: 4px;
}

.login-form button {
    margin: 20px 0 0 4px;
}
